<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORGOT PASSWORD</title>
    <link rel="stylesheet" href="forgetPassword.css">
    <script src="signUp.js"></script>
    <script src="https://kit.fontawesome.com/a18be56e6c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Forgot Password</h1>
            <p id="questionerror"></p>
            <form>
                <div class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" id="usernameSpace" placeholder="User-name">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-question"></i>
                        <input type="question" id= "questionSpace" placeholder="Question">
                    </div>
                    <hr>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="newpassword" id="newPasswordSpace" placeholder="New Password" >
                    </div>
                    <p><a href="/signUp">Sign in?</a></p>    
                    <br>
                </div>
                <div class="btn-field">
                    <button onclick="changePassword()" type ="button" id="forgetPass">Forget Password</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>